// Some component
//
// Description of the component here.
//
// Styleguide 1

// States
//
// .some-state - Component with some state.
//
// Markup:
// <div class="library-component {$modifiers}">Component</div>
//
// Styleguide 1.1
.library-component {
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  background-color: #c00;
  background-image: linear-gradient(to bottom, #c00, #ea0);

  &.some-state {
    text-decoration: underline;
  }
}
