// Component
//
// Description of the component here.
//
// Styleguide component

// States
//
// Description of the states here.
//
// .some-state - Component with some state.
//
// Markup:
// <div class="library-component {{modifier_class}}">Component</div>
//
// Styleguide component.states
.library-component {
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  background-color: #c00;
  background-image: linear-gradient(to bottom, #c00, #ea0);

  &.some-state {
    text-decoration: underline;
  }
}
